[submodule "Depend/Arch"]
	path = Depend/Arch
	url = https://github.com/genaray/Arch.git
[submodule "Depend/DotNetIsolator"]
	path = Depend/DotNetIsolator
	url = https://github.com/Artromskiy/DotNetIsolator.git
